<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xbc.miniproject.com.xbcapplication">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".AddBiodataActivity" />
        <activity android:name=".AddTechnologyActivity" />
        <activity android:name=".AddTrainerActivity" />
        <activity android:name=".EditBiodataActivity" />
        <activity android:name=".EditTechnologyActivity" />
        <activity android:name=".EditIdleNewsActivity" />
        <activity android:name=".ShareIdleNewsActivity" />
        <activity android:name=".AddIdleNewsActivity" />
        <activity android:name=".AddBatchActivity" />
        <activity android:name=".AddTestimonyActivity" />
        <activity android:name=".EditIdleMonitoringActivity" />
        <activity android:name=".EditTestimonyActivity" />
        <activity android:name=".AddIdleMonitoringActivity" />
        <activity android:name=".AddPlacementMonitoringActivity" />
        <activity android:name=".AddAssignmentActivity" />
        <activity android:name=".EditAssignmnetActivity" />
        <activity android:name=".DoneAssignmentActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".EditTrainerActivity" />
        <activity android:name=".EditUserActivity" />
        <activity android:name=".EditBatchActivity" />
        <activity android:name=".AddParticipantBatchActivity"></activity>
    </application>

</manifest>